@tailwind base;
@tailwind components;
@tailwind utilities;


.animation-jump {
    animation: jump 0.5s ease infinite;
}

.animation-border-pulse-blue {
    animation: pulseblue 0.5s ease infinite;
}

.animation-border-pulse-red {
    animation: pulsered 0.5s ease infinite;
}

.animation-border-pulse-green {
    animation: pulsegreen 0.5s ease infinite;
}

.animation-border-pulse-yellow {
    animation: pulseyellow 0.5s ease infinite;
}

@keyframes jump {
    0% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulseblue {
    0% {
        border-color: #1e40af;
    }


    100% {
        border-color: #3b82f6;
    }
}

@keyframes pulsered {
    0% {
        border-color: #991b1b;
    }


    100% {
        border-color: #ef4444;
    }
}

@keyframes pulsegreen {
    0% {
        border-color: #166534;
    }


    100% {
        border-color: #22c55e;
    }
}

@keyframes pulseyellow {
    0% {
        border-color: #854d0e;
    }


    100% {
        border-color: #eab308;
    }
}